<!DOCTYPE html>
<html class="no-js" lang="en">


<!-- Mirrored from wp.alithemes.com/html/evara/evara-frontend/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 15 Jul 2023 10:04:24 GMT -->
<head>
    <meta charset="utf-8">
    <title>Time Squad</title>
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:title" content="">
    <meta property="og:type" content="">
    <meta property="og:url" content="">
    <meta property="og:image" content="">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="/user-assets/imgs/theme/favicon.svg">
    <!-- Template CSS -->
    <link rel="stylesheet" href="/user-assets/css/maind134.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" >
   
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

    <style>
        .alphabet-button {
          background-color: #D2B48C; 
          border: none;
          color: white;
          padding: 15px 32px;
          text-align: center;
          text-decoration: none;
          display: inline-block;
          font-size: 16px;
          margin: 4px 2px;
          cursor: pointer;
          border-radius: 10px;
          transition-duration: 0.4s;
        }
      
        .alphabet-button:hover {
          background-color: #45a049; /* Darker Green */
        }
      </style>
      
    </head>

<body>

    <div class="header-middle header-middle-ptb-1 d-none d-lg-block">
        <div class="container">
            <div class="header-wrap">
            <div class="main-menu main-menu-padding-1 main-menu-lh-2 d-none d-lg-block " style="padding-left: 260px;">
                        <nav>
                            <ul>
                                <li><a  href="/">Home</i></a>
                                   
                                </li>
                                <li>
                                    <a href="page-about.html">About</a>
                                </li>
                                <li><a href="/shop">Shop</i></a>
                                   
                                </li>
                                </ul>
                        </nav>
                    </div>
                    <div class="header-action-right" style="padding-left: 300px;">
                        <div class="header-action-2">
                            <div class="header-action-icon-2">
                            </div>
                        </div>
                    </div>
                </div>
             </div>
        </div>
           
    
         <div class="header-middle header-middle-ptb-1 d-none d-lg-block">
                <div class="container">
                    <div class="header-wrap">
                        <div class="logo logo-width-1">
                            <a href="/"><img src="/user-assets/imgs/theme/Logo.png" alt="logo"></a>
                        </div>
                        <div class="header-right ">
                            <div class="search-style-2 pl-80">
                                <form action="/search">
                                    <input type="text" id="filterItem" name="search" class="form-control" placeholder="Search for items...">
                                </form>
                            </div>
                            <div class="header-action-right">
                                <div class="header-action-2">
                                    <div class="header-action-icon-2">
                                        <a href="/wishlist">
                                            <img class="svgInject" alt="Evara" src="/user-assets/imgs/theme/icons/icon-heart.svg">
                                            
                                        </a>
                                    </div>
                                    <div class="header-action-icon-2">
                                        <a class="mini-cart-icon" href="/cart">
                                            <img alt="Evara" src="/user-assets/imgs/theme/icons/icon-cart.svg">
                                        
                                        </a>
                                        <% if (locals.user) { %>
                                            
                                            <li class="dropdown nav-item">
                                              <a class="dropdown-toggle" data-bs-toggle="dropdown" href="#" id="dropdownAccount" aria-expanded="false">
                                                
                                                
                                                <img class="svgInject" alt="Evara" src="/user-assets/imgs/theme/icons/user-profile.svg" style="height: 25px; width: 25px; margin-top: 2px;">
                                              </a>
                                              <div class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownAccount">
                                                <a class="dropdown-item" href="/profile"><i class="material-icons md-perm_identity"></i> Profile</a>
                                                <div class="dropdown-divider"></div>
                                                <a class="dropdown-item text-danger" href="/logout"><i class="material-icons md-exit_to_app"></i> Logout</a>
                                              </div>
                                            </li>
                                          <% } else { %>
                                            
                                            <div class="single-mobile-header-info ml-25 pr-5">
                                              <a href="/login">Login</a>
                                            </div>
                                          <% } %>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
 
<style>
.pagination {
  display: flex;
  justify-content: center;
}

.btn {
  
  margin: 0 5px;
  padding: 5px 10px;
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  text-decoration: none;
  color: #333;
}

.active {
 
  color: #fff;
}

.btn:hover {

  background-color: #ddd;
}


.price-filter-inner {
        display: flex;
        justify-content: space-between; 
    }

    .price-button {
        flex: 1;
        height: 40px; 
        width: 100%; 
        margin-right: 5px; 
        border: 1px solid #ddd;
    }
</style>
<section class="mt-50 mb-50">
    <div class="container">
        <div class="row flex-row-reverse">
            <div class="col-lg-9">
                <div class="shop-product-fillter">
                    <div class="totall-product">
                       <% if (locals.count) { %>
                        <p> We found <strong class="text-brand"><%= locals.count %></strong> items for you!</p>
                       <% } %>
                    </div>
                    <div class="sort-by-product-area">
                    <div class="sort-by-product-wrap">
                            <div class="sort-by">
                                <span><i class="fi-rs-apps-sort"></i>Sort by:</span>
                            </div>
                            
                           
                                <div class="sort-by-dropdown-wrap">
                                   

                                    <select id="sortByDropdown" onchange="handleSortChange(this.value)" >
                                       
                                             <option value="featured" selected>Select</option> 
                                            <option value="lowToHigh">Price: Low to High</option>
                                            <option value="highToLow">Price: High to Low</option>
                    
                                        </select>
                                    </div>

                        </div>
                    </div>
                </div>
                <div class="row product-grid-3">
                 <% for (let i = 0; i < product.length; i++) { %>
                        <div class="col-lg-4 col-md-4 col-12 col-sm-6">
                            <div class="product-cart-wrap mb-30">
                                <div class="product-img-action-wrap">
                                    <div class="product-img product-img-zoom">
                                        <a href="/productDetails?id=<%=product[i]._id%>">
                                            <img class="default-img" src="/uploads/product-images/<%=product[i].productImage[0]%>" alt="">
                                             <img class="hover-img" src="assets/imgs/shop/product-2-2.jpg" alt=""> 
                                        </a>
                                    </div> 
                                    <div class="product-action-1">
                                    <a aria-label="Add To Wishlist" class="action-btn hover-up" href="javascript:void(0);" onclick="addToWishlist('<%= product[i]._id %>')"><i class="fi-rs-heart"></i></a>

                                    </div>
                                    <div class="product-badges product-badges-position product-badges-mrg">
                                        <span class="hot">Hot</span>
                                    </div>
                                </div>
                                <div class="product-content-wrap">
                                    <div class="product-category">
                                        
                                    </div>
                                    <h2><a href="shop-product-right.html"><%= product[i].productName %></a></h2>
                                    <!-- <div class="rating-result" title="90%">
                                        <span>
                                            <span>90%</span>
                                        </span>
                                    </div> -->
                                    <div class="product-price">
                                        <span>₹<%= product[i].salePrice.toLocaleString('en-IN') %></span>
                                        <span class="old-price">₹<%= product[i].regularPrice.toLocaleString('en-IN') %></span>
                                    </div>
                                    <div class="product-action-1 show">
                                        <a aria-label="Add To Cart" class="action-btn hover-up" href="shop-cart.html"><i class="fi-rs-shopping-bag-add"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                   <% } %>
                  </div>
                 <% if (totalPages) { %>
                    <div class="pagination">
                      <% if (currentPage > 1) { %>
                        <button class="btn btn-sm"><a href="/shop?page=<%= currentPage - 1 %>">Previous</a></button>
                      <% } %> 
                  
                      <% for (let i = 1; i <= totalPages; i++) { %> 
                        <button class="btn btn-sm <%= i === currentPage ? 'active' : '' %>">
                          <a href="/shop?page=<%= i %>"><%= i %></a>
                        </button>
                      <% } %>
                  
                      <% if (currentPage < totalPages) { %>
                        <button class="btn btn-sm"><a href="/shop?page=<%= currentPage + 1 %>">Next</a></button>
                      <% } %>
                    </div>
                  <% } %> 
            </div>
            <div class="col-lg-3 primary-sidebar sticky-sidebar"> 
                <div class="widget-category mb-30">
                    <h5 class="section-title style-1 mb-30 wow fadeIn animated">Category</h5>
                    <ul class="categories" id="categorySelect">
                        <% for (let i = 0; i < category.length; i++) { %>
                            <li><a onclick="categoryclick('<%= category[i]._id %>')" href="/filter?category=<%= category[i]._id %>"><%= category[i].name %></a></li>
                        <% } %> 
                    </ul>
                    
                </div>
                 <div class="widget-category mb-30"> 
               <!-- </div> -->
                <!-- Fillter By Price -->
                <div class="sidebar-widget price_range range mb-30">
                    <div class="widget-header position-relative mb-20 pb-10">
                        <h5 class="widget-title mb-10">Filter by price</h5>
                        <div class="bt-1 border-color-1"></div>
                    </div>
                    <div class="price-filter">
                        <div class="price-filter-inner">
                            <form id="price-filter-form">
                                <div class="price-options">
                                    <a href="/filterPrice?gt=0&lt=50000"><button type="button" class="price-button" data-value="under-50000">Under 50,000</button></a>
                                    <a href="/filterPrice?gt=50000&lt=100000"><button type="button" class="price-button" data-value="50k-to-100k">50,000 - 100,000</button></a>
                                    <a href="/filterPrice?gt=100000&lt=150000"><button type="button" class="price-button" data-value="100k-to-150k">100,000 - 150,000</button></a>
                                    <a href="/filterPrice?gt=150000&lt=1000000"><button type="button" class="price-button" data-value="above-150k">Above 150,000</button></a>
                                    <input type="hidden" id="selected-price" name="selected-price" value="">
                                </div>
                                
                            </form>
                        </div>
                    </div>
                </div>
             <!-- </div> -->
             <div class="sidebar-widget price_range range mb-30">
                <div class="widget-header position-relative mb-20 pb-10">
                    <h5 class="widget-title mb-10">Sort Alphabetically</h5>
                    <div class="bt-1 border-color-1"></div>
                </div>
                <div class="price-filter">
                    <div class="alphabet-filter-inner">
                        <form id="alphabet-filter-form">
                            <div class="alphabet-options">
                                <a href="/filterAlphabetical?option=asc"><button type="button" class="alphabet-button" data-value="a-to-z">Aa to Zz</button></a>
                                <a href="/filterAlphabetical?option=desc"><button type="button" class="alphabet-button" data-value="z-to-a">Zz to Aa</button></a>
                            </div>
                            
                        </form>
                    </div>
                </div>
            </div>
            
            
            
             <!-- ... -->
         </div> 
     </div> 
    
</section>
<!-- ..........................................................script.............................................................................. -->
<script>
 






function handleSortChange(selectedOption) {
    
    
    const option = selectedOption;
    

    
    const bodyData = {
         option: option,
        category: selectedCategoryId
    };

    fetch('/sortProducts', {
        method: 'POST',
        headers: {
            'Content-Type': 'application/json'
        },
        body: JSON.stringify(bodyData)
    })
    .then(response => {
        if (!response.ok) {
            throw new Error('Failed to fetch sorted products');
        }
        return response.json();
    })
    .then(data => {
        
        if (data && data.status === true && data.data) {
            const sortedProducts = data.data.currentProduct;
    
            renderSortedProducts(sortedProducts);
        } else {
            throw new Error('Invalid response format');
        }
    })
    .catch(error => {
        console.error('Error fetching sorted products:', error);
        
        showError('Failed to fetch sorted products. Please try again later.');
    });
}

// ..........................................



// ......................
function renderSortedProducts(products) {
    
    const productGrid = document.querySelector('.product-grid-3');
    productGrid.innerHTML = '';

    products.forEach(product => {
        const productDiv = document.createElement('div');
        productDiv.classList.add('col-lg-4', 'col-md-4', 'col-12', 'col-sm-6');
        productDiv.innerHTML = `
        <div class='product-cart-wrap mb-30'>
    <div class='product-img-action-wrap'>
        <div class='product-img product-img-zoom'>
            <a href='/productDetails?id=${product._id}'>
                <img class='default-img' src='/uploads/product-images/${product.productImage[0]}' alt='${product.productName}'>
            </a>
        </div>
        <div class='product-action-1'>
            <a aria-label='Add To Wishlist' class='action-btn hover-up' href='javascript:void(0);' onclick='addToWishlist("${product._id}")'>
                <i class='fi-rs-heart'></i>
            </a>
        </div>
        <div class='product-badges product-badges-position product-badges-mrg'>
            <span class='hot'>Hot</span>
        </div>
    </div>
    <div class='product-content-wrap'>
        <div class='product-category'>
            <a href='shop-grid-right.html'></a>
        </div>
        <h2><a href='shop-product-right.html'>${product.productName}</a></h2>
        <div class='product-price'>
            <span>₹${product.salePrice.toLocaleString('en-IN')}</span>
            <span class='old-price'>₹${product.regularPrice.toLocaleString('en-IN')}</span>
        </div>
        <div class='product-action-1 show'>
            <a aria-label='Add To Cart' class='action-btn hover-up' href='shop-cart.html'>
                <i class='fi-rs-shopping-bag-add'></i>
            </a>
        </div>
    </div>
</div>
  </div>
        `
        productGrid.appendChild(productDiv);
    });
}

function showError(message) {

    const errorDiv = document.getElementById('error-message');
    errorDiv.textContent = message;
}

// wishlist
function  addToWishlist(prodId){
    
    $.ajax({
        url:"/addToWishlist",
        method:"post",
        data:{
            id:prodId
        },
        
        success:(res)=>{
            console.log(res,"res");
            if(res.status=== true){
                swal.fire({
                    title:"add to wishlist",
                    text:"continue shopping",
                    icon:"success",
                    timer:2000,
                    showConfirmButton:false
                })

            }
            else if(res.status ===false){
                swal.fire({
                    title:res.message,
                    text:"Continue shopping",
                    icon:"warning",
                    timer:2000,
                    showConfirmButton:false
                })
            
            
            }else{
                swal.fire({
                    title:"you need to login first",
                    text:"continue your shopping",
                    icon:"warning",
                    timer:2000,
                    showConfirmButton:false
                }).then(()=>{
                    window.location.href="/login"
                })

            }
        
    }
    })

}



</script>



<!-- .......................................footer...................................................................................... -->

<section class="newsletter p-30 text-white wow fadeIn animated">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-7 mb-md-3 mb-lg-0">
                <div class="row align-items-center">
                    <div class="col flex-horizontal-center">
                        <img class="icon-email" src="assets/imgs/theme/icons/icon-email.svg" alt="">
                        <h4 class="font-size-20 mb-0 ml-3">Sign up to Newsletter</h4>
                    </div>
                    <div class="col my-4 my-md-0 des">
                        <h5 class="font-size-15 ml-4 mb-0">...and receive <strong>$25 coupon for first shopping.</strong></h5>
                    </div>
                </div>
            </div>
            <div class="col-lg-5">
                
                <form class="form-subcriber d-flex wow fadeIn animated">
                    <input type="email" class="form-control bg-white font-small" placeholder="Enter your email">
                    <button class="btn bg-dark text-white" type="submit">Subscribe</button>
                </form>
                
            </div>
        </div>
    </div>
</section>

<section class="section-padding footer-mid">
    <div class="container pt-15 pb-20">
        <div class="row">
            <div class="col-lg-4 col-md-6">
                <div class="widget-about font-md mb-md-5 mb-lg-0">
                    <div class="logo logo-width-1 wow fadeIn animated">
                        <a href="index.html"><img src="user-assets/imgs/theme/Logo.png" alt="logo"></a>
                    </div>
                    <h5 class="mt-20 mb-10 fw-600 text-grey-4 wow fadeIn animated">Contact</h5>
                    <p class="wow fadeIn animated">
                        <strong>Address: </strong>562 Wellington Road, Street 32, San Francisco
                    </p>
                    <p class="wow fadeIn animated">
                        <strong>Phone: </strong>+01 2222 365 /(+91) 01 2345 6789
                    </p>
                    <p class="wow fadeIn animated">
                        <strong>Hours: </strong>10:00 - 18:00, Mon - Sat
                    </p>
                    <h5 class="mb-10 mt-30 fw-600 text-grey-4 wow fadeIn animated">Follow Us</h5>
                    <div class="mobile-social-icon wow fadeIn animated mb-sm-5 mb-md-0">
                        <a href="#"><img src="assets/imgs/theme/icons/icon-facebook.svg" alt=""></a>
                        <a href="#"><img src="assets/imgs/theme/icons/icon-twitter.svg" alt=""></a>
                        <a href="#"><img src="assets/imgs/theme/icons/icon-instagram.svg" alt=""></a>
                        <a href="#"><img src="assets/imgs/theme/icons/icon-pinterest.svg" alt=""></a>
                        <a href="#"><img src="assets/imgs/theme/icons/icon-youtube.svg" alt=""></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-3">
                <h5 class="widget-title wow fadeIn animated">About</h5>
                <ul class="footer-list wow fadeIn animated mb-sm-5 mb-md-0">
                    <li><a href="#">About Us</a></li>
                    <li><a href="#">Delivery Information</a></li>
                    <li><a href="#">Privacy Policy</a></li>
                    <li><a href="#">Terms &amp; Conditions</a></li>
                    <li><a href="#">Contact Us</a></li>
                    <li><a href="#">Support Center</a></li>
                </ul>
            </div>
            <div class="col-lg-2  col-md-3">
                <h5 class="widget-title wow fadeIn animated">My Account</h5>
                <ul class="footer-list wow fadeIn animated">
                    <li><a href="#">Sign In</a></li>
                    <li><a href="#">View Cart</a></li>
                    <li><a href="#">My Wishlist</a></li>
                    <li><a href="#">Track My Order</a></li>
                    <li><a href="#">Help</a></li>
                    <li><a href="#">Order</a></li>
                </ul>
            </div>
            <div class="col-lg-4">
                <h5 class="widget-title wow fadeIn animated">Install App</h5>
                <div class="row">
                    <div class="col-md-8 col-lg-12">
                        <p class="wow fadeIn animated">From App Store or Google Play</p>
                        <div class="download-app wow fadeIn animated">
                            <a href="#" class="hover-up mb-sm-4 mb-lg-0"><img class="active" src="assets/imgs/theme/app-store.jpg" alt=""></a>
                            <a href="#" class="hover-up"><img src="assets/imgs/theme/google-play.jpg" alt=""></a>
                        </div>
                    </div>
                    <div class="col-md-4 col-lg-12 mt-md-3 mt-lg-0">
                        <p class="mb-20 wow fadeIn animated">Secured Payment Gateways</p>
                        <img class="wow fadeIn animated" src="assets/imgs/theme/payment-method.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="container pb-20 wow fadeIn animated">
    <div class="row">
        <div class="col-12 mb-20">
            <div class="footer-bottom"></div>
        </div>
        <div class="col-lg-6">
            <p class="float-md-left font-sm text-muted mb-0">&copy; 2022, <strong class="text-brand">Evara</strong> - HTML Ecommerce Template </p>
        </div>
        <div class="col-lg-6">
            <p class="text-lg-end text-start font-sm text-muted mb-0">
                Designed by <a href="http://alithemes.com/" target="_blank">Alithemes.com</a>. All rights reserved
            </p>
        </div>
    </div>
</div>
</footer>


<!-- Vendor JS-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script> 
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10.16.6/dist/sweetalert2.all.min.js"></script>
<script src="/user-assets/js/vendor/modernizr-3.6.0.min.js"></script>
<script src="/user-assets/js/vendor/jquery-3.6.0.min.js"></script>
<script src="/user-assets/js/vendor/jquery-migrate-3.3.0.min.js"></script>
<script src="/user-assets/js/vendor/bootstrap.bundle.min.js"></script>
<script src="/user-assets/js/plugins/slick.js"></script>
<script src="/user-assets/js/plugins/jquery.syotimer.min.js"></script>
<script src="/user-assets/js/plugins/wow.js"></script>
<script src="/user-assets/js/plugins/jquery-ui.js"></script>
<script src="/user-assets/js/plugins/perfect-scrollbar.js"></script>
<script src="/user-assets/js/plugins/magnific-popup.js"></script>
<script src="/user-assets/js/plugins/select2.min.js"></script>
<script src="/user-assets/js/plugins/waypoints.js"></script>
<script src="/user-assets/js/plugins/counterup.js"></script>
<script src="/user-assets/js/plugins/jquery.countdown.min.js"></script>
<script src="/user-assets/js/plugins/images-loaded.js"></script>
<script src="/user-assets/js/plugins/isotope.js"></script>
<script src="/user-assets/js/plugins/scrollup.js"></script>
<script src="/user-assets/js/plugins/jquery.vticker-min.js"></script>
<script src="/user-assets/js/plugins/jquery.theia.sticky.js"></script>
<script src="/user-assets/js/plugins/jquery.elevatezoom.js"></script>
<script src="/user-assets/js/maind134.js?v=3.4"></script>
<script src="/user-assets/js/shopd134.js?v=3.4"></script>
</body>
</html>